<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Batch Change Request</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Batch Change Request</h6>
                <div class="row mb-3">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" (keyup)="applyFilter($event)"
                                    placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="input-group">
                                <select (change)="refreshlist()" #filter="ngModel" [(ngModel)]="filterQuery">
                                    <option value="all">All</option>
                                    <option value="pending">Pending</option>
                                    <option value="approved">Approved</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <ngb-alert [dismissible]="false" [type]="'primary'" *ngIf="!isavailable">
                    No Batch Change Request Found.
                </ngb-alert>
                <div *ngIf="isLoading" class="spinner-wrapper">
                    <div class="spinner">Loading...</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" cellspacing="0" mat-table [dataSource]="dataSource"
                        matSort>

                        <ng-container matColumnDef="orderID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Order ID </th>
                            <td mat-cell *matCellDef="let row" class="cursor-pointer" (click)="goToOrder(row)">
                                {{row?.orderID}}
                                <br>
                                <span class="badge badge-success" *ngIf="row?.isApproved">Approved</span>
                                <span class="badge badge-warning" *ngIf="!row?.isApproved">Pending</span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="item_type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Type </th>
                            <td mat-cell *matCellDef="let row"> {{row?.item_type}} </td>
                        </ng-container>

                        <ng-container matColumnDef="item_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
                            <td mat-cell *matCellDef="let row">{{row?.item_code}} <br>
                                ({{row?.prev_item_code}}) </td>
                        </ng-container>

                        <ng-container matColumnDef="item_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                            <td mat-cell *matCellDef="let row"> {{row?.item_name}} <br>
                                ({{row?.prev_item_name}}) </td>
                        </ng-container>

                        <ng-container matColumnDef="requestedBy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Requested By </th>
                            <td mat-cell *matCellDef="let row">{{row?.requestedBy_invid}} <br> {{row?.requestedBy_name}} <br>
                                {{row?.requestDate | date:'medium'}} 
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="requestReason">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Reason </th>
                            <td mat-cell *matCellDef="let row"> {{row?.requestReason}} </td>
                        </ng-container>

                        <ng-container matColumnDef="approvedBy">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved By </th>
                            <td mat-cell *matCellDef="let row">{{row?.approvedBy_invid}} <br> {{row?.approvedBy_name}} <br>
                                {{row?.approveDate | date:'medium'}} 
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="comments">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comments </th>
                            <td mat-cell *matCellDef="let row"> {{row?.comments}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row;let rowIndex = dataIndex">
                                <div ngbDropdown class="dropdown" container="body">
                                    <button type="button" id="insdropdown2" ngbDropdownToggle
                                        class="btn p-0 no-dropdown-toggle-icon">
                                        <i ngbTooltip="More Options"
                                            class="feather icon-more-vertical icon-md text-muted pb-3px"></i>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="insdropdown2">
                                        <button *ngIf="!row?.isApproved" (click)="approveRequest(row)"
                                            ngbDropdownItem><i class="feather icon-check-circle icon-xs mr-2"></i>
                                            Approve Request</button>
                                        <button *ngIf="!row?.isApproved" (click)="deleteRequest(row)"
                                            ngbDropdownItem><i class="feather icon-x-circle icon-xs mr-2"></i>
                                            Delete Request</button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
            </div>
        </div>
    </div>
</div>