<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Insignia</a></li>
        <li class="breadcrumb-item active" aria-current="page">Insignia list</li>
    </ol>
</nav>
<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h4 class="mb-3 mb-md-0">Insignia list</h4>
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">

        <div class="input-group border rounded-sm mr-2 mb-2 mb-md-0 d-md-none wd-md-250 d-xl-flex">
            <div class="input-group-prepend">
                <div class="input-group-text border-0 rounded-sm">
                    <i class="feather icon-search icon-sm cursor-pointer"></i>
                </div>
            </div>
            <input 
                class="form-control wd-md-200 border-0 rounded-sm" 
                name="search"  
                #search="ngModel" 
                [(ngModel)]="searchq" 
                type="text" 
                placeholder="Search..."
                (keyup)="filter()">
        </div>
       
        <div class="input-group border rounded-sm mr-2 mb-2 mb-md-0 d-md-none wd-md-250 d-xl-flex">
            <div class="input-group-prepend">
                <div class="input-group-text border-0 rounded-sm">
                    <i class="feather icon-filter icon-sm cursor-pointer"></i>
                </div>
            </div>
            <select 
                name="orderby" 
                #statusfilter="ngModel" 
                [(ngModel)]="pagefilter" 
                class="form-control wd-md-200 border-0 rounded-sm" 
                (change)="filter()">
                    <option value="">Any status</option>
                    <option value="approved">Approved</option>
                    <option value="Pending">Pending</option>
                    <option value="Upcoming">Upcoming</option>
                    <option value="Mycourses">My Insignia</option>
            </select>
        </div>
    </div>
</div>

<div *ngIf="isLoading" class="spinner-wrapper">
    <div class="spinner">Loading...</div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mb-2" *ngFor="let ins of alllistfinal  | slice: (currentPage-1) * pageSize : currentPage * pageSize;">
                        <div class="d-flex justify-content-between align-items-start pb-2 mb-3">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="{{imageurl}}{{ins.picture}}" class="wd-100p" alt="{{ins.name}}">
                                </div>
                                <div class="col-md-9">
                                    <h5>{{ins.name  | titlecase}} 
                                        <span *ngIf="ins.approved" class="badge badge-pill badge-success mr-1">Approved</span>
                                        <span *ngIf="!ins.approved" class="badge badge-pill badge-warning mr-1">Pending</span>
                                        <!-- <span *ngIf="ins.instype==='Free Recorded Class' || ins.instype==='Free Live Class'" class="badge badge-pill badge-primary mr-1">{{ins.instype}}</span> -->
                                        <!-- <span *ngIf="ins.inss" class="badge badge-pill badge-success mr-1">Course Bundle</span> -->
                                        <span *ngIf="ins.isCustomCreated" class="badge badge-pill badge-success mr-1">Custom Insignia</span>

                                        <span *ngIf="ins.upcoming" class="badge badge-pill badge-primary mr-1">Upcoming</span>
                                        <span *ngIf="ins.disable" class="badge badge-pill badge-danger mr-1">Hidden</span>
                                    </h5>
                                    <ul class="list-unstyled">
                                        <li><strong>Duration :</strong> {{ins.duration}}</li>
                                        <li><strong>Insigna Code :</strong> {{ins.code}}</li>
                                        <!-- <li *ngIf="ins?.lesson" [routerLink]="['/admin/instructor/instructor-list', ins.submittedby]" ><strong>Teacher :</strong><a>{{ins.teachername}}</a></li> -->
                                        <!-- <li *ngIf="ins?.courses" ><strong>Teacher :</strong> {{ins.teachername}}</li> -->
                                        <!-- <li *ngIf="ins?.lesson"><strong>Student Registered :</strong> {{ins.numberofstudents}}</li> -->
                                        <!-- <li><strong>Ratings :</strong> {{ins.rating | number:'1.1-1'}}/5</li> -->
                                        <!-- <li *ngIf="ins.coursetype==='Free Live Class' || ins.coursetype==='Paid Live Class' || ins.coursestartdate"><strong>Start date :</strong> {{ins.coursestartdate | date: 'mediumDate'}}</li> -->
                                    </ul>
                                </div>
                            </div>
                            <div ngbDropdown class="dropdown">
                                <button type="button" id="jobdropdown" ngbDropdownToggle class="btn p-0 no-dropdown-toggle-icon">
                                    <i ngbTooltip="Settings" class="feather icon-settings icon-md text-muted pb-3px"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="jobdropdown">
                                    <button (click)="edit(ins)" ngbDropdownItem><i class="feather icon-edit-2 icon-xs mr-2"></i> Edit Insignia</button>
                                    <button (click)="duplicateCourse(ins)" ngbDropdownItem><i class="feather icon-copy icon-xs mr-2"></i> Duplicate Insignia</button>
                                    <!-- <button *ngIf="ins.approved" (click)="duplicateCourse1(ins)" ngbDropdownItem><i class="feather icon-book icon-xs mr-2"></i> New Batch</button> -->
                                    <button *ngIf="!ins.approved" (click)="onApprove(ins)" ngbDropdownItem><i class="feather icon-check-circle icon-xs mr-2"></i> Approve Insignia</button>
                                    <!-- <button *ngIf="course.lesson" [routerLink]="['/admin/courses/course-list', course.coursecode]"  ngbDropdownItem><i class="feather icon-eye icon-xs mr-2"></i> Go To Course</button> -->
                                    <button *ngIf="!ins.approved" (click)="onDelete(ins)" ngbDropdownItem><i class="feather icon-trash-2 icon-xs mr-2"></i>  Delete Insignia</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h6>Description</h6> 
                                <p>{{ins.description}}</p>
                            </div>
                        </div>
                        <hr>
                    </li>
                </ul>
                <ngb-pagination 
                    class="d-flex justify-content-end pagination-rounded" 
                    [collectionSize]="totalSize" 
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    [maxSize]="5"
                    [rotate]="true" 
                    [boundaryLinks]="true"
                    (pageChange)="pagechange()"
                    >
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>