<nav class="page-breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a routerLink=".">Others</a></li>
		<li class="breadcrumb-item active" aria-current="page">Training Kits</li>
	</ol>
</nav>

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">Add Training Kit</h6>
				<form #kitsForm="ngForm" (ngSubmit)="kitsForm.valid && submit(kitsForm)" class="forms-sample">
					<div class="form-group">
						<label for="url">Url*</label>
						<input 
						type="text" 
						class="form-control" 
						id="url" 
						autocomplete="off" 
						placeholder="URL"
						#url="ngModel" 
						[(ngModel)]="kits.url" 
						name="url"
						required>
						<p class="text-danger mt-1" *ngIf="url?.errors?.required && (kitsForm.dirty || kitsForm.touched)">This field is required.</p>
					</div>
					<button type="submit" class="btn btn-primary mr-2">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h6 class="card-title">All Training Kits</h6>
				<ngb-alert [dismissible]="false" [type]="'primary'" *ngIf="!iskitsavailable">
					No Training Kits Found. Add Some New Training Kit.
				</ngb-alert>
				<div class="row">
					<div class="col-md-3" *ngFor="let b of allkits | slice: (currentPage-1) * pageSize : currentPage * pageSize">
						<div [innerHTML]="b.url"></div>
						<br>
						<h4>
							<span *ngIf="b?.approved" class="badge badge-success">Approved</span>
							<span *ngIf="!b?.approved" class="badge badge-warning">Pending</span>  
						</h4>
						<br>
						<button *ngIf="!b?.approved" (click)="onApprove(b._id)" style="cursor: pointer; margin-right: 10px;" class="btn btn-primary">Approve</button>
						<button (click)="onDelete(b._id)" style="cursor: pointer;" class="btn btn-danger">Delete</button>
					</div>
				</div>
				<ngb-pagination 
                    class="d-flex justify-content-end pagination-rounded" 
                    [collectionSize]="totalSize" 
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    [maxSize]="5"
                    [rotate]="true" 
                    [boundaryLinks]="true"
                    >
                </ngb-pagination>
			</div>
		</div>
	</div>
</div>
