<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Regularize Attendance</h5>
    <button type="button" class="close" (click)="activeModal.close('close')" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="isLoading" class="spinner-wrapper">
        <div class="spinner">Loading...</div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <ngb-datepicker #dp [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="selectedDate"
                [markDisabled]="markDisabled" [displayMonths]="1" [dayTemplate]="t">
            </ngb-datepicker>

            <ng-template #t let-date="date" let-focused="focused" let-today="today" let-disabled="disabled">
                <span class="custom-day" (click)="onDateSelection($event,date)" [class.focused]="focused"
                    [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                    [class.faded]="isHovered(date) || isInside(date)" [class.selected]="isDateSelected(date)"
                    [class.today]="today" [class.disabled]="disabled" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                </span>
            </ng-template>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Set Your Attendance*</label>
                        <ng-select [items]="attendanceType" #Attendance="ngModel" [(ngModel)]="regularize.attendance"
                            name="state" placeholder="Set your Attendance" required>
                        </ng-select>
                        <p class="text-danger mt-1"
                            *ngIf="Attendance?.errors?.required && ( Attendance.dirty || Attendance.touched )">
                            This
                            field is required.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Reason*</label>
                        <textarea class="form-control" #comments="ngModel" name="comments" placeholder="Reason"
                            [(ngModel)]="regularize.reason" required cols="5" rows="7"></textarea>
                            <p class="text-danger mt-1"
                            *ngIf="comments?.errors?.required && ( comments.dirty || comments.touched )">
                            This
                            field is required.</p>
                    </div>
                </div>
            </div>
            <p>You can select multiple dates</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('close')">Exit</button>
</div>