<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
        <div class="card">
            <div class="row">
                <div class="col-md-4 pr-md-0">
                    <div class="auth-left-wrapper-reset">
                    </div>
                </div>
                <div class="col-md-8 pl-md-0">
                    <div class="auth-form-wrapper px-4 py-5">
                        <a routerLink="." class="noble-ui-logo d-block mb-2">
                            <img src="./assets/images/logo-color-big.png" alt="Invesmate">
                        </a>
                        <h5 class="text-muted font-weight-normal mb-4">Reset Password</h5>
                        <div *ngIf="!showSuccess && reset">
                            <form class="forms-sample" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input 
                                        type="email" 
                                        class="form-control" 
                                        id="exampleInputEmail1" 
                                        placeholder="Email" 
                                        name="username" 
                                        #email="ngModel" 
                                        [(ngModel)]="model.email"
                                        required
                                        [pattern]="emailRegex">
                                    <p class="text-danger mt-1" *ngIf="email?.errors?.required && (signInForm.submitted || email.dirty || email.touched)">This field is required.</p>
                                    <p class="text-danger mt-1" *ngIf="email?.errors?.pattern && (signInForm.submitted || email.dirty || email.touched)">Invalid Email.</p>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" >Continue</button>
                                </div>
                            </form>
                        </div>

                        <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="showSuccess">
                            Please Check Your Mail. Password Reset Link is sent to your Registered Mail
                        </ngb-alert>
                        
                        <div *ngIf="!reset && !showResetSuccess">
                            <form class="forms-sample" #resetForm="ngForm" (ngSubmit)="resetForm.valid && onReset(resetForm)">
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input 
                                    type="password" 
                                    name="password" 
                                    #password="ngModel" 
                                    [(ngModel)]="model.password" 
                                    placeholder="Password" 
                                    required 
                                    minlength="4" 
                                    class="form-control" 
                                    id="exampleInputEmail1">
                                    <p class="text-danger mt-1" *ngIf="password?.errors?.required && (resetForm.submitted || password.dirty || password.touched)">This field is required.</p>
                                    <p class="text-danger mt-1" *ngIf="password?.errors?.minlength && (resetForm.submitted || password.dirty || password.touched)">Minimum Length is 4.</p>
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input 
                                    class="form-control" 
                                    id="exampleInputPassword1"
                                    type="password" 
                                    name="repassword" 
                                    #repassword="ngModel" 
                                    [(ngModel)]="model.repassword" 
                                    placeholder="Re-enter Password" 
                                    required 
                                    minlength="4">
                                    <p class="text-danger mt-1" *ngIf="repassword?.errors?.required && (resetForm.submitted || repassword.dirty || repassword.touched)">This field is required.</p>
                                    <p class="text-danger mt-1" *ngIf="repassword?.errors?.minlength && (resetForm.submitted || repassword.dirty || repassword.touched)">Minimum Length is 4.</p>
                                </div>
                                <ngb-alert [dismissible]="false" [type]="'danger'" *ngIf="resetForm.submitted && model.password!==model.repassword">
                                    Password Not Matched
                                </ngb-alert>
                                <div class="mt-3">
                                  <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0" >Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>