<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Live Market Practice Bookings</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Live Market Practice</h6>

                <div class="row mb-3">
                    <div class="col-md-3">
                        <form class="search-form">
                            <label>Start Date</label>
                            <div class="input-group border rounded-sm mr-2 mb-2 mb-md-0 d-md-none wd-md-250 d-xl-flex">
                                <div class="input-group border rounded-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-0 rounded-sm">
                                            <i class="feather icon-search icon-sm cursor-pointer"></i>
                                        </div>
                                    </div>
                                    <input type="date" #date="ngModel" [(ngModel)]="startDate" name="date"
                                        class="wd-md-200 border-0 rounded-sm" (change)="filter()">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <form class="search-form">
                            <label>End Date</label>
                            <div class="input-group border rounded-sm mr-2 mb-2 mb-md-0 d-md-none wd-md-250 d-xl-flex">
                                <div class="input-group border rounded-sm">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text border-0 rounded-sm">
                                            <i class="feather icon-search icon-sm cursor-pointer"></i>
                                        </div>
                                    </div>
                                    <input type="date" #date="ngModel" [(ngModel)]="endDate" name="date"
                                        class="wd-md-200 border-0 rounded-sm" (change)="filter()">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Mentor </label>
                            <ng-select [items]="allMentor" [searchable]="true" placeholder="Search Instructor"
                                #mentoridf="ngModel" [(ngModel)]="mentorFilter" name="mentoridf" bindValue="_id"
                                bindLabel="fullName" (change)="filter()">
                                <ng-template ng-label-tmp let-item="item">
                                    <span class="ng-value-label">{{item.invid}} - {{item.fullName}}</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item.invid}} - {{item.fullName}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Product</label>
                            <ng-select [items]="allProduct" [searchable]="true" placeholder="Search Product"
                                #productf="ngModel" [(ngModel)]="productFilter" name="productf" bindValue="productid"
                                bindLabel="name" (change)="filter()">
                                <ng-template ng-label-tmp let-item="item">
                                    <span class="ng-value-label">{{item.productid}} - {{item.name}}</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item.productid}} - {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Language</label>
                            <ng-select [items]="languages" [searchable]="true" placeholder="Select Language Filter...."
                                #languageidf="ngModel" [(ngModel)]="languageFilter" name="languageidf"
                                (change)="filter()">
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-6" style="padding: 30px;">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" (keyup)="applyFilter($event)"
                                    placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" style="padding: 30px;">
                        <button type="button" class="btn btn-primary btn-block" (click)="export()">Export</button>
                    </div>
                </div>

                <ngb-alert [dismissible]="false" [type]="'primary'" *ngIf="!isavailable">
                    No Booking Found.
                </ngb-alert>
                <div *ngIf="isLoading" class="spinner-wrapper">
                    <div class="spinner">Loading...</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" cellspacing="0" mat-table [dataSource]="dataSource"
                        matSort>

                        <ng-container matColumnDef="student_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
                            <td mat-cell *matCellDef="let row"> {{row?.student_invid}} <br> {{row?.student_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mentor_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Mentor </th>
                            <td mat-cell *matCellDef="let row"> {{row?.mentor_invid}} <br> {{row?.mentor_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="phone">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                            <td mat-cell *matCellDef="let row">{{row?.phone}} </td>
                        </ng-container>

                        <ng-container matColumnDef="whatsapp_number">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Whatsapp Number </th>
                            <td mat-cell *matCellDef="let row"> {{row?.whatsapp_number}} </td>
                        </ng-container>

                        <ng-container matColumnDef="language">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Language </th>
                            <td mat-cell *matCellDef="let row"> {{row?.language}} </td>
                        </ng-container>

                        <ng-container matColumnDef="product_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product ID </th>
                            <td mat-cell *matCellDef="let row"> {{row?.product_code}} <br> {{row?.product_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="slot">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Slot </th>
                            <td mat-cell *matCellDef="let row">{{row?.start_time | date:'mediumDate'}} <br>
                                {{row?.slot}}
                            </td>
                        </ng-container>


                        <ng-container matColumnDef="webinarid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zoom Details </th>
                            <td mat-cell *matCellDef="let row">
                                ID: {{row?.webinarid}}
                                <a *ngIf="row?.webinarid" placement="top" ngbTooltip="Copy to Clipboard" ngxClipboard
                                    [cbContent]="row?.webinarid" class="ml-2" (click)="copied()">
                                    <i class="small-icon" data-feather="copy" appFeatherIcon></i>
                                </a>
                                <br>
                                PWD: {{row?.password}}
                                <a *ngIf="row?.password" placement="top" ngbTooltip="Copy to Clipboard" ngxClipboard
                                    [cbContent]="row?.password" class="ml-2" (click)="copied()">
                                    <i class="small-icon" data-feather="copy" appFeatherIcon></i>
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="join_url">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zoom Url </th>
                            <td mat-cell *matCellDef="let row">
                                <a *ngIf="row?._id" (click)="joinclass(row)" class="btn btn-primary">Join Now</a>
                                <a *ngIf="row?.join_url" placement="top" ngbTooltip="Copy to Clipboard" ngxClipboard
                                    [cbContent]="row?.join_url" class="ml-2" (click)="copied()">
                                    <i class="small-icon" data-feather="copy" appFeatherIcon></i>
                                </a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="account">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Zoom A/C </th>
                            <td mat-cell *matCellDef="let row">{{row?.account}}</td>
                        </ng-container>

                        <ng-container matColumnDef="options">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
                            <td mat-cell *matCellDef="let row">
                                <div ngbDropdown class="dropdown" container="body">
                                    <button type="button" id="insdropdown" ngbDropdownToggle
                                        class="btn p-0 no-dropdown-toggle-icon">
                                        <i ngbTooltip="More Options"
                                            class="feather icon-more-vertical icon-md text-muted pb-3px"></i>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="insdropdown">
                                        <button (click)="openModal(row,scheduleModal)" ngbDropdownItem><i
                                                class="feather icon-edit icon-xs mr-2"></i> Change Schedule</button>

                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumns;">
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
            </div>
        </div>
    </div>
</div>

<ng-template #scheduleModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Change Schedule</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="isSuccess" class="spinner-wrapper">
            <div class="spinner">Loading...</div>
        </div>
        <form #scheduleForm="ngForm">
            <p *ngIf="!isSuccess" style="color: red;padding: 0px;">All * Fields are Mandatory</p>
            <div *ngIf="!isSuccess" class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Date*</label>
                        <input type="date" class="form-control" #starttime="ngModel" [(ngModel)]="selectedSlot.date"
                            required (change)="ontimechange()" name="starttime">
                        <p class="text-danger mt-1"
                            *ngIf="starttime?.errors?.required && (starttime.dirty || starttime.touched || scheduleForm.submitted)">
                            This field is required.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Slot*</label>
                        <ng-select [items]="availableSlots" [closeOnSelect]="true" #mentorslot="ngModel"
                            name="mentorslot" bindValue="_id" placeholder="Search By Slot"
                            [(ngModel)]="selectedSlot.nextbookingid" required>
                            <ng-template ng-label-tmp let-item="item">
                                <span class="ng-value-label">{{item.slot}} - {{item.mentor_name}}</span>
                            </ng-template>

                            <ng-template ng-option-tmp let-item="item">
                                {{item.slot}} - {{item.mentor_name}}
                            </ng-template>
                        </ng-select>
                        <p class="text-danger mt-1"
                            *ngIf="mentorslot?.errors?.required && (mentorslot.dirty || mentorslot.touched || scheduleForm.submitted)">
                            This field is required.</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="scheduleForm.invalid" (click)="reschedule()" class="btn btn-primary"> Submit</button>
        <button type="button" class="btn btn-secondary" (click)="modal.close()"> Close</button>
    </div>
</ng-template>