<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Orders</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cart Orders</li>
    </ol>
</nav>

<div class="row">
	<div class="col-md-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
                <h6 class="card-title">Cart Orders</h6>
				<div class="row mb-3">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" (keyup)="applyFilter($event)"  placeholder="Search">
                            </div>
                        </div>
                    </div>
                </div>

                <ngb-alert [dismissible]="false" [type]="'primary'" *ngIf="!isavailable">
					No Cart Orders Found.
				</ngb-alert>
                <div *ngIf="isLoading" class="spinner-wrapper">
                    <div class="spinner">Loading...</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" cellspacing="0" mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="device_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> device_id </th>
                            <td mat-cell *matCellDef="let row"> {{row.device_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total_cart_price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> total_cart_price </th>
                            <td mat-cell *matCellDef="let row"> {{row.total_cart_price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="course_price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> course_price </th>
                            <td mat-cell *matCellDef="let row"> {{row.course_price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="product_price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> product_price </th>
                            <td mat-cell *matCellDef="let row"> {{row.product_price}} </td>
                        </ng-container>

                        <ng-container matColumnDef="first_ins_amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> first_ins_amount </th>
                            <td mat-cell *matCellDef="let row"> {{row.first_ins_amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="second_ins_amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> second_ins_amount </th>
                            <td mat-cell *matCellDef="let row"> {{row.second_ins_amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="third_ins_amount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> third_ins_amount </th>
                            <td mat-cell *matCellDef="let row"> {{row.third_ins_amount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="discount">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> discount </th>
                            <td mat-cell *matCellDef="let row"> {{row.discount}} </td>
                        </ng-container>

                        <ng-container matColumnDef="is_coupon_applied">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> is_coupon_applied </th>
                            <td mat-cell *matCellDef="let row"> {{row.is_coupon_applied}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="cart_items">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> cart_items </th>
                            <td mat-cell *matCellDef="let row"> {{row.cart_items}} </td>
                        </ng-container>

                        <ng-container matColumnDef="coupon_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> coupon_code </th>
                            <td mat-cell *matCellDef="let row"> {{row.coupon_code}} </td>
                        </ng-container>

                        <ng-container matColumnDef="mode">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> mode </th>
                            <td mat-cell *matCellDef="let row"> {{row.mode}} </td>
                        </ng-container>

                        <ng-container matColumnDef="order_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> order_id </th>
                            <td mat-cell *matCellDef="let row"> {{row.order_id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="student_name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> student_name </th>
                            <td mat-cell *matCellDef="let row"> {{row.student_name}}<br>{{row.student_invid}} </td>
                        </ng-container>

                        <ng-container matColumnDef="part_payment">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> part_payment </th>
                            <td mat-cell *matCellDef="let row"> {{row.part_payment}} </td>
                        </ng-container>

                        <ng-container matColumnDef="products">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> products </th>
                            <td mat-cell *matCellDef="let row"> {{row.products}} </td>
                        </ng-container>

                        <ng-container matColumnDef="accounts">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> accounts </th>
                            <td mat-cell *matCellDef="let row"> {{row.accounts}} </td>
                        </ng-container>

                        <ng-container matColumnDef="sales">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> sales </th>
                            <td mat-cell *matCellDef="let row"> {{row.sales}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="registration">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> registration </th>
                            <td mat-cell *matCellDef="let row"> {{row.registration}} </td>
                        </ng-container>

                        <ng-container matColumnDef="createdAt">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> createdAt </th>
                            <td mat-cell *matCellDef="let row"> {{row.createdAt| date: 'mediumDate'}} <br> {{ row.expireAt | date: 'mediumDate'}} </td>
                        </ng-container>
                        
                        <ng-container matColumnDef="paid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> paid </th>
                            <td mat-cell *matCellDef="let row"> {{row.paid}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
			</div>
		</div>
	</div>
</div>