<nav class="page-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">Subscription History</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">All Products Subscription History</h6>
                <ngb-alert [dismissible]="false" [type]="'primary'" *ngIf="!isavailable">
                    No Subscription History Found.
                </ngb-alert>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" (keyup)="applyFilter($event)"
                                    placeholder="Search">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="btn btn-primary btn-block" (click)="export()">Export</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Filter By Staff</label>
                            <ng-select [items]="allStaff" [searchable]="true" placeholder="Search Staff"
                                #Studentidf="ngModel" [(ngModel)]="staffFilter" [searchFn]="StaffSearchFn"
                                name="Studentidf" bindValue="invid" bindLabel="fullName" (change)="filter()">
                                <ng-template ng-label-tmp let-item="item">
                                    <span class="ng-value-label">{{item.invid}} - {{item.fullName}}</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item.invid}} - {{item.fullName}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Filter By Student</label>
                            <ng-select [items]="allStudent" [searchable]="true" placeholder="Search Student"
                                #Studentidf="ngModel" [(ngModel)]="studentFilter" name="Studentidf" bindValue="invid"
                                bindLabel="fullName" [searchFn]="StaffSearchFn" (change)="filter()">
                                <ng-template ng-label-tmp let-item="item">
                                    <span class="ng-value-label">{{item.invid}} - {{item.fullName}}</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item.invid}} - {{item.fullName}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Filter By Product</label>
                            <ng-select [items]="allProduct" [searchable]="true" placeholder="Search Product"
                                #productf="ngModel" [(ngModel)]="productFilter" name="productf" bindValue="productid"
                                bindLabel="name" (change)="filter()">
                                <ng-template ng-label-tmp let-item="item">
                                    <span class="ng-value-label">{{item.productid}} - {{item.name}}</span>
                                </ng-template>

                                <ng-template ng-option-tmp let-item="item">
                                    {{item.productid}} - {{item.name}}
                                </ng-template>
                            </ng-select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Filter By Status</label>
                            <select #statusfilter="ngModel" [(ngModel)]="statusFilter" name="statusfilter"
                                placeholder="Filter By Status" (change)="filter()">
                                <option value="">Select Status</option>
                                <option value="Active">Active</option>
                                <option value="Expired">Expired</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div *ngIf="isLoading" class="spinner-wrapper">
                    <div class="spinner">Loading...</div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered" multiTemplateDataRows cellspacing="0" mat-table
                        [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="last_staff_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Staff Id </th>
                            <td mat-cell *matCellDef="let row"> {{row.last_staff_id}} <br> {{row.last_staff_name}}</td>
                        </ng-container>

                        <ng-container matColumnDef="studentinvid">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
                            <td mat-cell *matCellDef="let row" [ngStyle]="{
                                'color':row.status==='Expired'?'red':'green'
                                }"> {{row.studentinvid}} <br> {{row.studentname}}</td>
                        </ng-container>

                        <ng-container matColumnDef="product_code">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                            <td mat-cell *matCellDef="let row">{{row.product_code}} <br> {{row.product_name}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total_revenue">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Revenue (Incl. GST)</th>
                            <td mat-cell *matCellDef="let row"> {{row.total_revenue | currency:'INR'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="net_revenue">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Revenue</th>
                            <td mat-cell *matCellDef="let row"> {{row.net_revenue | currency:'INR'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="gst">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>GST</th>
                            <td mat-cell *matCellDef="let row"> {{row.gst | currency:'INR'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total_due">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Due (Incl. GST)</th>
                            <td mat-cell *matCellDef="let row"> {{row.total_due | currency:'INR'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="last_purchase">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Subscription Date </th>
                            <td mat-cell *matCellDef="let row"> {{row.last_purchase | date: 'mediumDate'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="number_of_purchase">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>No of times Subscribe </th>
                            <td mat-cell *matCellDef="let row"> {{row.number_of_purchase}} </td>
                        </ng-container>

                        <ng-container matColumnDef="expiry_date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiry Date </th>
                            <td mat-cell *matCellDef="let row" [ngStyle]="{
                                'color':row.status==='Expired'?'red':'green'
                                }"> {{row.expiry_date | date: 'mediumDate'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let row" [ngStyle]="{
                                'color':row.status==='Expired'?'red':'green'
                                }"> {{row.status}} </td>
                        </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let row; let i = dataIndex" style="padding: 0px;"
                                [attr.colspan]="displayedColumns.length">
                                <div class="example-row-detail"
                                    [@detailExpand]="row == expandedElement ? 'expanded' : 'collapsed'">
                                    <div class="row example-row-description">
                                        <table class="table table-hover table-bordered" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <td>Staff</td>
                                                    <td>Revenue (With GST)</td>
                                                    <td>Net Revenue</td>
                                                    <td>GST</td>
                                                    <td>Due (With GST)</td>
                                                    <td>Purchase Date</td>
                                                    <td>Validity(Days)</td>
                                                    <td>Coupon</td>
                                                    <td>Expiry Date</td>
                                                    <td>Status</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let b of row.purchase_history">
                                                    <td>{{b.staff_id}}<br>{{b.staff_name}}</td>
                                                    <td>{{b.price | currency:'INR'}}</td>
                                                    <td>{{b.net_revenue | currency:'INR'}}</td>
                                                    <td>{{b.gst | currency:'INR'}}</td>
                                                    <td>{{b.due | currency:'INR'}}</td>
                                                    <td>{{b.pruchasedate | date: 'mediumDate'}}</td>
                                                    <td>{{b.validity}}</td>
                                                    <td>{{b.coupon}}</td>
                                                    <td>{{b.expiry_date | date: 'mediumDate'}}</td>
                                                    <td [ngStyle]="{
                                                        'color':b.isexpired?'red':'green'
                                                        }">{{b.isexpired?'Expired':'Active'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <button type="button" class="btn btn-primary mt-2"
                                            (click)="exportDetails(row)">Export</button>
                                    </div>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let element; columns: displayedColumns;"
                            class=" cursor-pointer example-element-row"
                            [class.example-expanded-row]="expandedElement === element"
                            (click)="expandedElement = expandedElement === element ? null : element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row">
                        </tr>
                    </table>
                </div>
                <mat-paginator [pageSizeOptions]="[25, 50, 100, 200]"></mat-paginator>
            </div>
        </div>
    </div>
</div>